{% extends "base/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block body %}
<link rel="stylesheet" href="{% static 'todo/mystyle.css' %}">
<div class="row d-flex justify-content-center ">
	<div class="col-md-12">
	  	<form action="/add/" method = "post">{% csrf_token %}
			<div class="input-group mb-3">
				<input type="text" class="form-control" name="title">
				
				<div class="input-group-append">
					<button type="submit" class="btn btn-success">افزودن</button>
					<button type="reset" class="btn btn-dark">
						<i class="fa fa-eraser" aria-hidden="true"></i>
					</button>
				</div>
			</div>
			
			<div class="input-group my-4">
				<label class="container1">
				  <input type="radio" checked="checked"  value="1" name="priority">
				  <span class="checkmark1"></span>
				</label>
				<label class="container2">
					<input type="radio"  value="2" name="priority">
					<span class="checkmark2"></span>
				  </label>
				  <label class="container3">
					<input type="radio"  value="3" name="priority">
					<span class="checkmark3"></span>
				  </label>
				  <label class="container4">
					<input type="radio"  value="4" name="priority">
					<span class="checkmark4"></span>
				  </label>
				  <label class="container5">
					<input type="radio" value="5"  name="priority">
					<span class="checkmark5"></span>
				  </label>
			
			</div>

		</form>
	</div>
</div>
<div class="row d-flex justify-content-center ">
	<div  class="col-md-12 ">
		<div class="card-hover-shadow-2x mb-3 card">
			<div style="direction: rtl; " class="card-header-tab card-header">
				<div class="card-header-title font-size-lg text-capitalize font-weight-normal">
					<i class="fa fa-tasks"></i>
					&nbsp;لیست کارها
				</div>
			</div>
			<div class="scroll-area-sm">
				<perfect-scrollbar class="ps-show-limits">
					<div style="position: static;" class="ps ps--active-y">
						<div class="ps-content">
							<ul class=" list-group list-group-flush">
								{% for todo in object_list %}
									<li class="list-group-item">
										{% if todo.priority == '1' %}
										<div class="todo-indicator bg1"></div>
										{% elif todo.priority == '2' %}
										<div class="todo-indicator bg2"></div>
										{% elif todo.priority == '3' %}
										<div class="todo-indicator bg3"></div>
										{% elif todo.priority == '4' %}
										<div class="todo-indicator bg4"></div>
										{% elif todo.priority == '5' %}
										<div class="todo-indicator bg5"></div>
										{% endif %}
										
										<div class="widget-content p-0">
											<div class="widget-content-wrapper">
												<div class="widget-content-left mr-2">
													
													{% if todo.status %}
													<div class="custom-checkbox custom-control"> 
														<i class="custom-control-label fa fa-check text-success"></i>
													</div>
													{% else %}
													<div  class="custom-checkbox custom-control"> 
														<label class="custom-control-label" for="exampleCustomCheckbox12">&nbsp;</label>
													</div>
													{% endif %}
								
												</div>
												<div class="widget-content-left">
													<div class="widget-title">
														{{todo.title}}
													</div>
													<div class="widget-date">
														{{todo.created}}
													</div>
													
												</div>
												<div class="widget-content-right"> 
													<form action="/up/{{todo.id}}/" method ="post">{% csrf_token %}
													<input type="hidden" name="status" value="true" />
													<button class="border-0 btn-transition btn btn-outline-success"> 
													<i class="fa fa-check"></i></button> 
													</form>
													<form action="/del/{{todo.id}}/" method ="post">{% csrf_token %}
													<button type="submit" class="border-0 btn-transition btn btn-outline-danger"> 
														<i class="fa fa-trash"></i>
													</button>
													</form>
													</div>
											</div>
										</div>
									</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</perfect-scrollbar>
			</div>
		</div>
	</div>
</div>
{% endblock body %}